.row
  %article.project-wrap.col.l8.offset-l1.s12
    #project-header
      #project-basic-info-wrap
        .project-title
          #project-name
            = @gallery.title
        .project-taxonomy
          - @gallery.gallery_types.each_with_index do |type, i|
            = link_to type.name, galleries_path(:gallery_type => type.name) 
            = ", " unless @gallery.gallery_types.length == i + 1

    .gallery-text
      %p
        = raw @gallery.body



    %section
      - @images.each do |i|
        .gallery-content-image= image_tag i.image.url(:thumb), srcset: "#{i.image.url(:w768)} 768w, #{i.image.url} 2000w",class: 'responsive-img'

  %aside.col.l2.m3.s12
    /%h2= t('.other')
    .card
      .card-content
        = content_tag(:span, @gallery.title, class: "card-title")

        %ul.menu.nav
          = Pages::GalleryTypesMenuPresenter.new( gallery_type_menus, self).to_html

      .card-action
        = content_tag(:span, "more", class: "card-title")
        %ul#galleries
          - if @gallery.position.present?
            - position = @gallery.position
            - if @galleries[position..position+5].length != 0
              - @galleries[position..position+5].each do |gallery| 
                %li
                  = link_to gallery.title, refinery.galleries_gallery_path(gallery)
