.row
  %article.project-wrap.col.l8.offset-l1.m9
    #project-header
      #project-basic-info-wrap
        .project-title
          #project-name
            = @gallery.title
        .project-taxonomy
          - @gallery.gallery_types.each_with_index do |type, i|
            = link_to(type.name, refinery.galleries_gallery_type_path(type)) 
            = ", " unless @gallery.gallery_types.length == i + 1

    .gallery-text
      %p
        = raw @gallery.body



    %section
      - @gallery.images.each do |image|
        .gallery-content-image= image_fu image, nil, class: 'responsive-img'

  %aside.col.l2.m3.s12
    /%h2= t('.other')
    .card
      .card-content
        = content_tag(:span, @gallery.title, class: "card-title")

        %ul.menu.nav
          - @gallery_types.each do |gallery_type|
            %li
              = link_to gallery_type.name, refinery.galleries_gallery_type_path(gallery_type)

      .card-action
        = content_tag(:span, "more", class: "card-title")
        %ul#galleries
          - position = @gallery.position
          - if @galleries[position..position+5].length != 0
            - @galleries[position..position+5].each do |gallery| 
              %li
                = link_to gallery.title, refinery.galleries_gallery_path(gallery)
