-# .footer.row
-#   .footer-content.col.l8.offset-l2.s12
-#     .footer-content-item.footer-logo-wrap.col.m4.s12.vto-center
-#       = link_to(image_tag("m/favicon.png"), root_path)

-#     .footer-content-item.social-icon-wrap.col.m4.s12.vto-center
-#       - wechat_qr = image_tag("m/qrcode.jpg", size: "100")
-#       = link_to(image_tag("m/圆角_Anna/64px/tencent -腾讯_wechat -微信.png", class: "responsive-img"), "", id: "wechat-icon", class: "social-icon", data: {:tooltip => "#{wechat_qr}"})
-#       = link_to(image_tag("m/圆角_Anna/64px/tencent -腾讯_QQ.png", class: "responsive-img"), "http://wpa.qq.com/msgrd?v=3&uin=877881120&site=qq&menu=yes", class: "qq-icon social-icon", target: "_blank")
-#       = link_to(image_tag("m/圆角_Anna/64px/taobao -淘宝.png", class: "responsive-img"), "https://sflc.taobao.com/", class: "taobao-icon social-icon", target: "_blank")
      
-#     .footer-content-item.footer-copyright-wrap.col.m4.s12.vto-center
-#       %p.footer-copyright
-#         = "版权所有 © 2016 sflx"





%footer.page-footer.margin-top0
  .container
    .row
      .col.l4.s12
        %h5.white-text 关于我们
        %p.grey-text.text-lighten-4 广西南宁四方连续文化传播有限公司（简称：四方连续创享品牌 / The continuous），专注品牌形象量身定制，是一家注重实效的新锐设计公司，以品牌设计为核心业务，为各阶段企业提供务实的形象策划服务。
        
      .col.l4.s12
        %h5.white-text 联系我们
        .footer-content-item.social-icon-wrap.footer-logo-wrap
          - wechat_qr = image_tag("m/qrcode.jpg", size: "100")
          = image_tag("m/圆角_Anna/64px/tencent -腾讯_wechat -微信.png", class: "responsive-img social-icon social-icon-img",  id: "wechat-icon", data: {:tooltip => "#{wechat_qr}"})
          = link_to(image_tag("m/圆角_Anna/64px/tencent -腾讯_QQ.png", class: "responsive-img social-icon-img qq-icon social-icon"), "http://wpa.qq.com/msgrd?v=3&uin=877881120&site=qq&menu=yes",  target: "_blank")
          = link_to(image_tag("m/圆角_Anna/64px/taobao -淘宝.png", class: "responsive-img social-icon-img taobao-icon social-icon"), "https://sflc.taobao.com/", target: "_blank")
        
      .col.l4.s12
        %h5.white-text 快速链接
        %ul
          %li
            = link_to("US[我们]", "/about", class: "grey-text text-lighten-3")
          %li
            = link_to("Contact[联系]", "/contact", class: "grey-text text-lighten-3")

  .footer-copyright
    .container
      版权所有 © 2016 sflx
      = link_to("US[我们]", "/about", class: "grey-text text-lighten-4 right")
