%nav#nav-header
  .nav-wrapper
    .container
      .row
        .col.s12
          / Refinery::Core.site_name
          = link_to image_tag("m/favicon.png"), root_path, class: "brand-logo .vto-center"
          = link_to "", "#", class: "fa fa-bars fa-lg button-collapse", data:{activates: "slide-out"}



          %i.fa.fa-search.fa-lg.right.header-search-toggle{"aria-hidden" => "true"}

          = Pages::SlideoutMenuPresenter.new( menu_items, self).to_html
          = Pages::MenuPresenter.new( menu_items, self).to_html

= render "/search" 

