<!DOCTYPE html>
<html>
  <head>
    <title>SflxActive</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="page_container">
      <header id="header">
        <%= render "/header" %>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render "/footer" %>
      </footer>
    </div>
  </body>
</html>
